<div class="req-wrapper">
  <section>
    <h2>Create New Requirement</h2>

    <form class="new-requirement-form">
      <div>
        <label for="requirement-title">Title</label>
        <input type="text" id="requirement-title" name="requirement-title" />
      </div>
      <div>
        <label for="requirement-url">Link</label>
        <input id="requirement-url" name="requirement-url" />
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>

  {{#if requirements.length}}
  <section>
    <h2 class="req-title">Your Requirements</h2>
    <ol class="req-list">
      {{#each requirements as |requirement|}}
      <li>
        {{> requirement-info requirement}}
        <a href="/dashboard/edit/{{requirement.requirement_id}}" class="edit-link">Edit Requirement</a>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
</div>

<script src="/javascript/add-requirement.js"></script>