{{> requirement-info requirement}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
    <button type="button" class="contributor-btn">Add Self as Contributor</button>
  </div>
</form>
{{/if}}

{{> comments requirement.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/contribute.js"></script>
{{/if}}