* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

html { 
  background: url('../images/background-photo.avif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: white;
  /* color: #225ca3; */
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
  color: white;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 100%;
  min-height: 45px;
}

.new-comment {
  margin-bottom: 6%;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.comment-wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-wrapper button {
  padding: 7px;
}

.point-line {
  margin-bottom: 5%;
}

.req-wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.req-wrapper input {
  padding: 10px 40px 10px 10px;
}

.req-title {
  text-align: center;
}

.req-list {
  padding-right: 75px;
  padding-left: 75px;
}

.btn {
  padding: 5px 10px 5px 10px;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 1%;
}

header h1 {
  font-size: 1.5em;
  color: white;
}

.top-logo {
  margin-bottom: 1%;
}

.bottom-logo {
  margin-top: 1px;
}

nav {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  /* color: #225ca3; */
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: white;
}

.title {
  font-weight: bold;
}

.meta {
  color: white;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  text-align: right;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.edit-req-title {
  width: 100%;
}

.comment-form {
  margin-bottom: 5%;
  margin-top: 1.5%;
}

.alt-comment-form {
  margin-bottom: 2%;
  margin-top: 1.5%;
}

.comment-list {
  margin-top: 1.5%;
}

.comment-title {
  text-align: center;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comments {
  margin-top: 5%;
}

.comment:nth-child(odd) {
  background-color: darkgrey;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .8;
}

.add-comment-button {
  width: 100%;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 1.5em;
  color: white;
}

section {
  color: white;
}

article {
  color: white;
}